.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar{
  background-color: #ccc;
  height: 250px;
  position: relative;
}

.cart{
  position: absolute;
  bottom: 30px;
  right: 40px
}

.login-btn{
  position: absolute;
  top: 30px;
  right: 34px;
  outline: none;
  height: 30px;
}

.login-area {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  height: 500px;
  width: 600px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadown-full{
  width: 100vw;
  height: 100vw;
  background-color: #000;
  display: block;
  position: fixed;
  z-index: 2;
  opacity: 0.6;
  left: 0;
}